body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* link colors */
#twitch a:link { text-decoration: none;
color: purple;}
#twitch a:visited { text-decoration: none; 
color: purple;}
#twitch a:hover { text-decoration: none;
color: purple;}
#twitch a:active { text-decoration: none;
color: purple;}

#twitter a:link { text-decoration: none;
color: lightskyblue;}
#twitter a:visited { text-decoration: none; 
color: lightskyblue;}
#twitter a:hover { text-decoration: none;
color: lightskyblue;}
#twitter a:active { text-decoration: none;
color: lightskyblue;}

#youtube a:link { text-decoration: none;
color: red;}
#youtube a:visited { text-decoration: none; 
color: red;}
#youtube a:hover { text-decoration: none;
color: red;}
#youtube a:active { text-decoration: none;
color: red;}

/* header */
.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding-bottom: 82px;
}

.head{
    font-size: 24px;
    font-weight: 600;
    padding-right: 100px;
}

.header_list{
    list-style-type: none;
    display: flex;
    gap: 26px;
    font-weight: 300;
    padding: 0;
    padding-left: 100px;
}

/* top */
.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding-bottom: 100px;
}

.big_subtext{
    width: 350px;
}

.big{
    font-size: 48px;
    font-weight: 800;
}

.sign_up,.subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.sign_up{
    background-color: rgb(255, 84, 84);
    border-radius: 6px;
    padding: 6px 24px;
    border: 0;
    font-weight: bold;
    margin-top: 14px;
}

.hero_image{
    display: flex;
}

#top_xqc{
    height: 275px;
    width: 450px;
}

/* middle */

.mid_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 48px;
}


.cards{
    display: flex;
    padding-bottom: 114px;
    justify-content: center;
    align-items: center;
}

img,.info{
    height: 200px;
    width: 200px;
    border-radius: 8px;
}

.info{
    margin-left: 22px;
    margin-right: 22px;
}

.card{
    display: flex;
    margin-top: 5px;
    justify-content: center;
    font-weight: 300;
}

/* bottom */
.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    display: flex;
    padding: 100px;
    padding-bottom: 0px;
    padding-left: 350px;
    padding-right: 350px;
}

.bottom{
    background-color: #e5e7eb;
}

.author{
    display: flex;
    justify-content: end;
    padding-right: 390px;
    padding-bottom: 84px;
    padding-top: 16px;
    font-weight: bold;
}