body{
    font-family: 'Dosis', sans-serif;
    margin: 0;
}

/* link colors */
#twitch a:link { text-decoration: none;
color: purple;
display: flex;
align-items: center;
background-color: rgba(0, 0, 0, 0.6);
padding: 5px;
border-radius: 8px;
box-shadow: rgb(191, 52, 255) 1px 0 10px;}
#twitch a:visited { text-decoration: none; 
color: purple;}
#twitch a:hover { text-decoration: none;
color: purple;}
#twitch a:active { text-decoration: none;
color: purple;}

#twitter a:link { text-decoration: none;
color: lightskyblue;
display: flex;
align-items: center;
background-color: rgba(0, 0, 0, 0.6);
padding: 5px;
border-radius: 8px;
box-shadow: rgb(56, 176, 231) 1px 0 10px}
#twitter a:visited { text-decoration: none; 
color: lightskyblue;}
#twitter a:hover { text-decoration: none;
color: lightskyblue;}
#twitter a:active { text-decoration: none;
color: lightskyblue;}

#youtube a:link { text-decoration: none;
color: red;
display: flex;
align-items: center;
background-color: rgba(0, 0, 0, 0.6);
padding: 5px;
border-radius: 8px;
box-shadow: rgb(245, 67, 67) 1px 0 10px}
#youtube a:visited { text-decoration: none; 
color: red;}
#youtube a:hover { text-decoration: none;
color: red;}
#youtube a:active { text-decoration: none;
color: red;}

.sign_up a:link { text-decoration: none;
color: #e5e7eb;}
.sign_up a:visited { text-decoration: none; 
color: #e5e7eb;}
.sign_up a:hover { text-decoration: none;
color: #e5e7eb;}
.sign_up a:active { text-decoration: none;
color: #e5e7eb;}

#sign_up a:link { text-decoration: none;
color: #e5e7eb;}
#sign_up a:visited { text-decoration: none; 
color: #e5e7eb;}
#sign_up a:hover { text-decoration: none;
color: #e5e7eb;}
#sign_up a:active { text-decoration: none;
color: #e5e7eb;}

.summaryAuthor a:link {color: #e5e7eb;}
.summaryAuthor a:visited {color: #e5e7eb;}
.summaryAuthor a:hover {color: #e5e7eb;}
.summaryAuthor a:active {color: #e5e7eb;}

.footer a:link {color: #e5e7eb;}
.footer a:visited {color: #e5e7eb;}
.footer a:hover {color: #e5e7eb;}
.footer a:active {color: #e5e7eb;}



/* header */
.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    padding-bottom: 82px;
}

.head{
    font-size: 26px;
    font-weight: 600;
    padding-right: 100px;
}

.header_list{
    list-style-type: none;
    display: flex;
    gap: 26px;
    font-weight: bold;
    padding: 0;
    padding-left: 100px;
}

#xqcl{
    height: 40px;
    width: 37px;
    
}

.no{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 470px;
}

.icon{
    height: 20px;
    width: 20px;
    align-items: center;
}


/* top */
.top{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 250px;
    color: white;
    padding-bottom: 45px;
}

#myVideo {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
  }


.big_subtext{
    width: 350px;
}

.big{
    font-size: 48px;
    font-weight: 700;
}

.sign_up,.subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.sign_up{
    background-color: rgb(255, 84, 84);
    border-radius: 6px;
    padding: 6px 24px;
    border: 0;
    font-weight: bold;
    margin-top: 14px;
    font-family: 'Dosis', sans-serif;
}

.hero_image{
    display: flex;
}

#top_xqc{
    height: 250px;
    width: 400px;
}

.summary{
    display: flex;
    font-weight: 500;
    font-size: 26px;
    color: #e5e7eb;
    text-align:left;
    justify-content: center;
    padding-left: 200px;
    padding-right: 80px;
    flex-direction: column;
    padding-bottom: 230px;
    padding-top: 16px;
}

.summaryAuthor{
    display: flex;
    justify-content: right;
    font-size: 22px;
    padding-bottom: 60px;
    padding-right: 70px;
    padding-top: 30px;
}

.summaryBackground{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 46px;
    border-radius: 6px;
}

/* middle */

.mid_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #e5e7eb;
    padding: 48px;
}


.cards{
    display: flex;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}

img,.info{
    height: 200px;
    width: 200px;
    border-radius: 8px;
}

.info{
    margin-left: 22px;
    margin-right: 22px;
    box-shadow: rgb(250, 205, 58) 0px 0px 17px;
}

.card{
    display: flex;
    margin-top: 5px;
    justify-content: center;
    font-weight: 400;
    color: #e5e7eb;
}

/* bottom */
.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    display: flex;
    padding: 100px;
    padding-bottom: 0px;
    padding-left: 350px;
    padding-right: 350px;
    text-shadow: black 1px 0 15px;
}

.bottom{
    background-color: #e5e7eb;
}

.author{
    display: flex;
    justify-content: end;
    padding-right: 390px;
    padding-bottom: 84px;
    padding-top: 16px;
    font-weight: bold;
    text-shadow: black 1px 0 15px;
}

/* box */
.box{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 84, 84);
    margin: 50px 220px 75px;
    border-radius: 8px;
    padding: 40px 30px;
}

#title_text{
    font-size: 20px;
    font-weight: bold;
    color: #e5e7eb;
}

.text{
    font-weight: 400;
    color: #e5e7eb;
}

#sign_up{
    background-color: rgb(255, 84, 84);
    border-radius: 6px;
    padding: 6px 24px;
    border: solid;
    border-width: 2px;
    font-weight: bold;
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
}

.bottomBackground{
    background-image: url("img/bottomX2.jpg");
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    filter: brightness(1.1);
}

.gif{
    height: 90px;
    width: 90px;
}

.stand{
    display: flex;
    max-height: 87px;
    justify-content: space-evenly;
}


/* foot */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937 ;
    color: #e5e7eb;
    padding: 30px;
}